@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<p>This wep app is developed by <strong>Chiu Sing Yan</strong>.</p>

<address>
    <strong>Email:</strong>   <a href="mailto:singyanchiu@google.com">singyanchiu@google.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/singyanchiu">https://github.com/singyanchiu</a>
</address>