@model ProjectManagementApp.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "My Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="panel-heading">List of Projects</h2>

@if (Model.Projects.Count == 0)
{
    <p>There are no projects.</p>
}
else
{
    <ul>
        @foreach (var project in Model.Projects)
        {
            <li>@project.ProjectName - @project.Description</li>
        }
    </ul>
}